<fieldset>
    <!-- latitude -->
    <p>
        <label for='latitude'>Enter location Latitude</label><br>
        <input id='latitude' type='number' step="0.0001" name='latitude'/>
    </p>
    <!-- longitude -->
    <p>
        <label for='longitude'>Enter in Location Longitude</label><br>
        <input id='longitude' type='number' step="0.0001" name='longitude'>
    </p>
    <p>
        <label for='date'>Enter a Date</label><br>
        <input type='date' step=1 name='date'>
    </p>
</fieldset>