<!-- templates/blogs_index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
<h1 class="display-4">Post Your Thoughts and Ideas!</h1>
<p class="lead">You can create posts to share your ideas with others.</p>
<hr class="my-4">
<p>Unfortunately edit does not work. But Everything else works fine.</p>
<a class="btn btn-primary btn-lg" href="/blog/new" role="button">Create</a>
</div>
<h1>Posts</h1>
{% for blog in blogs %}
<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ blog.title }}</h5>
      <p class="card-text">{{ blog.content}}</p>
      <a href="/blog/{{ blog._id }}" class="btn btn-primary">More</a>
    </div>
</div>
{% endfor %}
{% endblock %}







    