<!-- earth.html -->
<!DOCTYPE html>
{% include 'partials/bootstrap.html' %}
<body>
    {% include 'partials/navbar.html' %}
    <div class='container'>
            {% block content %}{% endblock %}  
    </div>
    <div class="jumbotron text-center">
        <img src = 'https://thumbs.gfycat.com/ValuableIckyIberianmidwifetoad.webp'>
        <h1>Earth</h1>
        <p class="lead">Our one and only planet</p>
        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="I don't quite work yet.">Learn more</button>
    </div>
</body>