<!-- earth.html -->
<!DOCTYPE html>
{% include 'partials/bootstrap.html' %}
<body>
    {% include 'partials/navbar.html' %}
    <div class='container'>
            {% block content %}{% endblock %}  
    </div>
    <div class="jumbotron text-center">
        <img src = 'https://thumbs.gfycat.com/ValuableIckyIberianmidwifetoad.webp'>
        <h1>Earth</h1>
        <p class="lead">Use the search bar on the top right or the bottom to search through the archives!</p>
        <form action="/search/results" method='GET'>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name='item'>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</body>