<!-- templates/mars.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
                
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">      
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include 'partials/navbar.html' %}
    <div class='container'>
        {% block content %}{% endblock %}  
    </div> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-lg-4">
                <h3>Earth</h3>
                <p class="lead"></p>
                <a href='/mars/weather' class="btn btn-primary">continue</a>
            </div>
        </div>
    </div>
</body>

