<!-- templates/mars.html -->
<!DOCTYPE html>
{% include 'partials/bootstrap.html' %}
<body>
    {% include 'partials/navbar.html' %}
    <div class='container'>
        {% block content %}{% endblock %}  
    </div> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-lg-5">
                <h3>InSight</h3>
                <p class="lead">Thanks to the InSight lander on Mars, you can check the temp on Mars!</p>
                <a href='/mars/weather' class="btn btn-primary">How Hot is it?</a>
            </div>
        </div>
    </div>
</body>

