<!-- templates/mars_pic.html -->
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="container">
            <h4>The Temp on Mars!</h4>
            <iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='1200' height='650'  scrolling='no' frameborder='0'></iframe>
            <div class="text-block">
                
            </div>

            <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
        </div>
    <br>
    <br>
    <br>
    {% endblock %}
</body>
</html>


